<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.authoritiesMapper">

<sql id="select-authorities">
	SELECT users_id,
		   authorities_role
	FROM   authorities
</sql>

<resultMap type="authorities" id="authorities-basic-resultmap">
	<id column="users_id" property="usersId"/>
	<result column="authorities_role" property="authoritiesRole"/>
</resultMap>

<!-- insert -->
<!-- 권한 추가 -->
<insert id="insertAuthorities" parameterType="authorities">
	INSERT INTO authorities VALUES(#{usersId},#{authoritiesRole})
</insert>

<!-- update -->
<update id="updateAuthoritiesById" parameterType="authorities">
	UPDATE authorities
	   SET users_id=#{usersId},
	   	   authorities_role=#{authoritiesRole}
	 WHERE users_id=#{usersId} 
</update>

<!-- delete -->
<delete id="deleteAuthorities" parameterType="string">
	DELETE FROM authorities WHERE users_id=#{value}
</delete>

<!-- select -->
<select id="selectAuthoritiesList" resultMap="authorities-basic-resultmap">
	<include refid="select-authorities"/>
</select>

<!-- 사용자 ID로 회원 정보 조회 - 인증가능 회원만 : enable=1 -->
<select id="selectUserByUserId" resultMap="com.mugs.config.mapper.usersMapper.users-basic-resultmap" parameterType="string">
	<include refid="com.mugs.config.mapper.usersMapper.select-users"/>
	WHERE users_id=#{value}
	AND users_enable = 1
</select>

<select id="selectAuthoritiesByUserId" parameterType="string" resultMap="authorities-basic-resultmap">
		<include refid="select-authorities"/>
		WHERE users_id = #{value}
</select>



</mapper>