<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.creditMapper">

	<sql id="select-credit">
		SELECT		credit_id,
						credit_year,
						credit_semester,
						credit_acquire,
						credit_grade,
						credit_score,
						credit_recource,
						subject_id,
						stu_id
		FROM 		credit					
	</sql>
	<sql id="select-credit-subject-join">
		SELECT     		c.credit_year,
						c.credit_semester,
						c.credit_acquire,
						c.credit_grade,
						c.credit_score,
						c.credit_recource,
						s.subject_id,
						s.subject_name,
						s.subject_type,
						s.subject_credit,
						s.subject_class
		FROM 		credit c, subject s
		
	</sql>
<resultMap type="credit" id="credit-basic-resultmap">
		<id column="credit_id" property="creditId"/>
		<result column="credit_year" property="creditYear"/>
		<result column="credit_semester" property="creditSemester"/>
		<result column="credit_acquire" property="creditAcquire"/>
		<result column="credit_grade" property="creditGrade"/>
		<result column="credit_score" property="creditScore"/>
		<result column="credit_recource" property="creditRecource"/>
		<result column="subject_id" property="subjectId"/>
		<result column="stu_id" property="stuId"/>
</resultMap>

<resultMap type="credit" id="credit-subject-resultmap" extends="credit-basic-resultmap">
	<collection property="subject" resultMap="com.mugs.config.mapper.subjectMapper.subject-basic-resultmap"/>
</resultMap>

<resultMap type="credit" id="credit-subject-join-resultmap" extends="credit-basic-resultmap">
	<association property="subject" resultMap="com.mugs.config.mapper.subjectMapper.subject-basic-resultmap"/>
</resultMap>

<!-- insert -->
<insert id="insertCredit" parameterType="credit">
		<selectKey resultType="int" keyProperty="creditId" order="BEFORE">
			SELECT credit_id_seq.nextval FROM dual   
		</selectKey>
	INSERT INTO credit VALUES
	(
	#{creditId},
	 #{creditYear},
	 #{creditSemester},
	 #{creditAcquire}, 
	 #{creditGrade}, 
	 #{creditScore}, 
	 #{creditRecource}, 
	 #{subjectId}, 
	 #{stuId}
	 )
</insert>

<!-- update -->
<update id="updateCreditById" parameterType="credit">
	UPDATE credit
		SET		credit_id=#{creditId},
					credit_year=#{creditYear},
					credit_semester=#{creditSemester},
					credit_acquire=#{creditAcquire},
					credit_grade=#{creditGrade},
					credit_score=#{creditScore},
					credit_recource=#{creditRecource},
					subject_id=#{subjectId},
					stu_id=#{stuId}
	   WHERE		credit_id=#{creditId}
	   
</update>

<!-- 영현이꼬 -->
<update id="updateCreditByFourId" parameterType="credit">
UPDATE credit

SET		
credit_year= #{creditYear},
credit_semester= #{creditSemester},
credit_acquire= #{creditAcquire},
credit_grade= #{creditGrade},
credit_score= #{creditScore},
credit_recource= #{creditRecource},
subject_id= #{subjectId},
stu_id= #{stuId}

WHERE credit_year= #{creditYear}
AND credit_semester= #{creditSemester}
AND subject_id = #{subjectId}
AND stu_id = #{stuId}
</update>

<!-- delete -->
	<delete id="deleteCredit" parameterType="int">
		DELETE FROM credit WHERE credut_id = #{value}
	</delete>

<!-- select -->
<select id="selectCreditList" resultMap="credit-basic-resultmap">
	<include refid="select-credit"/>
</select>

<select id="selectCreditById" resultMap="credit-basic-resultmap" parameterType="int">
	<include refid="select-credit"/>
	WHERE credit_id= #{value}
</select>

<!-- 영현이꼬 -->
<select id="selectCreditByFourId" resultMap="credit-basic-resultmap" parameterType="map">
	<include refid="select-credit"/>
	WHERE credit_year = #{creditYear}
	AND credit_semester = #{creditSemester}
	AND stu_id = #{stuId}
	AND subject_id = #{subjectId}
</select>

<!-- 영현이꼬(평점구하는 쿼리문... 시바...) -->
<select id="selectCreditAvgByThreeId" resultType="double" parameterType="map">
SELECT AVG(credit_score)
FROM CREDIT
WHERE credit_year = #{creditYear}
AND credit_semester = #{creditSemester}
AND stu_id = #{stuId}
</select>

<select id="selectYearByStuId" resultType="int" parameterType="string">
	SELECT DISTINCT credit_year FROM credit WHERE stu_id =#{value} ORDER BY credit_year DESC
</select>

<select id="selectSemesterByYear" resultType="string" parameterType="map">
	SELECT DISTINCT credit_semester FROM credit WHERE credit_year=#{year} AND stu_id=#{id} 
</select>

<select id="selectAllCreditByStuId" resultMap="credit-subject-resultmap" parameterType="string">
	<include refid="select-credit-subject-join"/>
	WHERE c.subject_id = s.subject_id(+)
	AND	c.stu_id=#{value}
</select>
<select id="selectCreditByYear" resultMap="credit-subject-resultmap" parameterType="map">
	<include refid="select-credit-subject-join"/>
	WHERE	c.subject_id = s.subject_id(+)
	AND 		c.credit_year=#{year}
	AND 	c.stu_id=#{id}
</select>

<select id="selectCreditBySemester" resultMap="credit-subject-resultmap" parameterType="map">
	<include refid="select-credit-subject-join"/>
	WHERE c.subject_id = s.subject_id(+)
	AND	c.credit_semester=#{semester}
	AND c.stu_id=#{id}
</select>

<select id="selectCreditByType" resultMap="credit-subject-resultmap" parameterType="map">
		<include refid="select-credit-subject-join"/>
	WHERE c.subject_id = s.subject_id(+)
	AND c.credit_year=#{year} AND c.credit_semester=#{semester} AND s.subject_type=#{type} AND c.stu_id=#{id}
</select>

<select id="selectCreditByOneType" resultMap="credit-subject-resultmap" parameterType="map">
		<include refid="select-credit-subject-join"/>
	WHERE c.subject_id = s.subject_id(+)
	AND s.subject_type=#{type}
	AND c.stu_id=#{id}
</select>

<select id="selectCreditByYearAndSemester" resultMap="credit-subject-resultmap" parameterType="map">
	<include refid="select-credit-subject-join"/>
	WHERE c.subject_id = s.subject_id(+)
	AND c.credit_year=#{year} AND c.credit_semester=#{semester} AND c.stu_id=#{id}
</select>

<select id="selectCreditByYearType" resultMap="credit-subject-resultmap" parameterType="map">
	<include refid="select-credit-subject-join"/>
	WHERE c.subject_id = s.subject_id(+)
	AND c.credit_year=#{year} AND s.subject_type=#{type} AND c.stu_id=#{id}
</select>

<select id="selectCreditScoreBySubjectIdStuId" resultType="double" parameterType="map">
	select credit_score
	from credit
	where subject_id=#{subjectId}
	and stu_id=#{stuId}
</select>

<!-- 병문 Mapper -->
<select id="selectCreditByYearSemesterAndUsersId" resultMap="credit-subject-resultmap" parameterType="map">
	SELECT     			c.credit_year,
						c.credit_semester,
						c.credit_acquire,
						c.credit_grade,
						c.credit_score,
						c.credit_recource,
						s.subject_id,
						s.subject_name,
						s.subject_type,
						s.subject_credit,
						s.subject_class
	FROM 				credit c, subject s, users u, student s
	WHERE 				c.subject_id = s.subject_id(+)
	AND 				c.credit_year = #{year} 
	AND 				c.credit_semester = #{semester}
	AND					u.users_id =#{usersId}
	AND					s.stu_id = u.users_id
	AND					c.stu_id = s.stu_id
	
		
</select>

<select id="selectCreditByYearSemesterStuId" resultMap="credit-subject-resultmap" parameterType="map">
	select c.credit_id, c.credit_year, c.credit_semester, c.credit_acquire,
		   c.credit_grade, c.credit_score, c.credit_recource, c.subject_id,
		   c.stu_id, s.subject_id, s.subject_name, s.subject_time, s.subject_type,
		   s.subject_credit, s.subject_capacity, s.subject_request, s.subject_grade,
		   s.subject_class, s.subject_close_class, s.subject_semester, s.major_id,
		   s.lecture_id
    FROM   credit c, subject s
    where  c.subject_id = s.subject_id
    and    c.credit_id not in(select credit_id from CREDIT_GIVE_UP where CGU_STATE='대기' or CGU_STATE='승인')
    and    c.credit_year=#{nowYear}
    and    c.credit_semester=#{semester}
    and    c.stu_id=#{stuId}
</select>

</mapper>