<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.creditGiveUpMapper">

<sql id="select-creditGiveUp">
   SELECT CGU_ID,
          CGU_YEAR,
          CGU_SEMESTER,
          CGU_START_DATE,
          CGU_FINISH_DATE,
          CGU_STATE,
          CREDIT_ID
   FROM   CREDIT_GIVE_UP
</sql>

<resultMap type="creditGiveUp" id="creditGiveUp-basic-reresultmap">
   <id column="CGU_ID" property="CGUId"/>
   <result column="CGU_YEAR" property="CGUYear"/>
   <result column="CGU_SEMESTER" property="CGUSemester"/>
   <result column="CGU_START_DATE" property="CGUStartDate"/>
   <result column="CGU_FINISH_DATE" property="CGUFinishDate"/>
   <result column="CGU_STATE" property="CGUState"/>
   <result column="CREDIT_ID" property="creditId"/>
</resultMap>

<resultMap type="creditGiveUp" id="creditGiveUp-credit-subject-reresultmap" extends="creditGiveUp-basic-reresultmap">
	<association property="credit" resultMap="com.mugs.config.mapper.creditMapper.credit-subject-join-resultmap"/>
</resultMap>

<resultMap type="creditGiveUp" id="creditGiveUp-credit-reresultmap" extends="creditGiveUp-basic-reresultmap">
<!--association 태그  : preperty - instance변수명, javaType - instance변수 타입-->
		<id column="major_name" property="majorName"/>
		<result column="users_id" property="usersId"/>
		<result column="users_name" property="usersName"/>
		<result column="subject_name" property="subjectName"/>
		<association property="credit" javaType ="com.mugs.vo.Credit">
			<result column="credit_id" property="creditId"/>
			<result column="credit_year" property="creditYear"/>
			<result column="credit_semester" property="creditSemester"/>
			<result column="credit_acquire" property="creditAcquire"/>
			<result column="credit_grade" property="creditGrade"/>
			<result column="credit_score" property="creditScore"/>
			<result column="credit_recource" property="creditRecource"/>
			<result column="subject_id" property="subjectId"/>
			<result column="stu_id" property="stuId"/>
		</association>
</resultMap>

<!-- insert -->
<insert id="insertCreditGiveUp" parameterType="creditGiveUp">
   <selectKey resultType="int" keyProperty="CGUId" order="BEFORE">
      SELECT CGU_ID_SEQ.nextval FROM dual
   </selectKey>
   INSERT INTO CREDIT_GIVE_UP VALUES(#{CGUId}, #{CGUYear}, #{CGUSemester}, #{CGUStartDate}, #{CGUFinishDate}, #{CGUState}, #{creditId})
</insert>

<!-- update -->
<update id="updateCreditGiveUpById" parameterType="creditGiveUp">
	UPDATE CREDIT_GIVE_UP
	   SET CGU_YEAR=#{CGUYear},
	   	   CGU_SEMESTER=#{CGUSemester},
	   	   CGU_START_DATE=#{CGUStartDate},
	   	   CGU_FINISH_DATE= (SELECT TRUNC(SYSDATE) FROM DUAL),
	   	   CGU_STATE=#{CGUState},
	   	   CREDIT_ID=#{creditId}
	 WHERE CGU_ID=#{CGUId}  	   
</update>


<!-- delete -->
<delete id="deleteCreditGiveUp" parameterType="int">
	DELETE FROM CREDIT_GIVE_UP WHERE CGU_ID=#{value}
</delete>

<!-- select -->
<select id="selectCreditGiveUpList" resultMap="creditGiveUp-basic-reresultmap">
	<include refid="select-creditGiveUp"/>
</select>

<select id="selectCreditGiveUpById" resultMap="creditGiveUp-basic-reresultmap" parameterType="int">
	<include refid="select-creditGiveUp"/>
	WHERE CGU_ID=#{value}
</select>

<!-- 
	학생 ID를 이용해서 해당 학생의 학적포기 신청내역을 select
	By Baek.J.H
 -->
 <select id="selectCreditGiveUpByStuId" resultMap="creditGiveUp-credit-subject-reresultmap" parameterType="string">
 	select cg.CGU_ID, cg.CGU_YEAR, cg.CGU_SEMESTER, cg.CGU_START_DATE, cg.CGU_FINISH_DATE, cg.CGU_STATE, cg.CREDIT_ID,
    	   c.credit_id, c.credit_year, c.credit_semester, c.credit_acquire, c.credit_grade, c.credit_score, 
    	   c.credit_recource, c.subject_id, c.stu_id,
    	   s.subject_id, s.subject_name, s.subject_time, s.subject_type, s.subject_credit,
		   s.subject_capacity, s.subject_request, s.subject_grade, s.subject_class,
		   s.subject_close_class, s.subject_semester, s.major_id, s.lecture_id
	from   CREDIT_GIVE_UP cg, credit c, subject s
    where  cg.CREDIT_ID = c.credit_id
    and    c.subject_id = s.subject_id
    and    c.stu_id = #{value}
 </select>
 
 <select id="selectCreditGiveUpByStuIdState" resultMap="creditGiveUp-credit-subject-reresultmap" parameterType="string">
 	select cg.CGU_ID, cg.CGU_YEAR, cg.CGU_SEMESTER, cg.CGU_START_DATE, cg.CGU_FINISH_DATE, cg.CGU_STATE, cg.CREDIT_ID,
    	   c.credit_id, c.credit_year, c.credit_semester, c.credit_acquire, c.credit_grade, c.credit_score, 
    	   c.credit_recource, c.subject_id, c.stu_id,
    	   s.subject_id, s.subject_name, s.subject_time, s.subject_type, s.subject_credit,
		   s.subject_capacity, s.subject_request, s.subject_grade, s.subject_class,
		   s.subject_close_class, s.subject_semester, s.major_id, s.lecture_id
	from   CREDIT_GIVE_UP cg, credit c, subject s
    where  cg.CREDIT_ID = c.credit_id
    and    c.subject_id = s.subject_id
    and    c.stu_id = #{value}
    and    cg.CGU_STATE='승인'
 </select>
 
 <!-- 
 	현재연도, 학기, 학생 ID를 이용해서 해당 학생 현재연도, 현재학기의 학적포기 신청내역을 select
	By Baek.J.H
  -->
 <select id="selectCreditGiveUpByYearStuIdSemester" resultMap="creditGiveUp-credit-subject-reresultmap" parameterType="map">
 	select cg.CGU_ID, cg.CGU_YEAR, cg.CGU_SEMESTER, cg.CGU_START_DATE, cg.CGU_FINISH_DATE, cg.CGU_STATE, cg.CREDIT_ID,
    	   c.credit_id, c.credit_year, c.credit_semester, c.credit_acquire, c.credit_grade, c.credit_score, 
    	   c.credit_recource, c.subject_id, c.stu_id,
    	   s.subject_id, s.subject_name, s.subject_time, s.subject_type, s.subject_credit,
		   s.subject_capacity, s.subject_request, s.subject_grade, s.subject_class,
		   s.subject_close_class, s.subject_semester, s.major_id, s.lecture_id
	from   CREDIT_GIVE_UP cg, credit c, subject s
    where  cg.CREDIT_ID = c.credit_id
    and    c.subject_id = s.subject_id
    and    c.stu_id = #{stuId}
    and    cg.CGU_YEAR=#{nowYear}
    and    cg.CGU_SEMESTER=#{semester}
 </select>

<select id="selectCreditGiveUpJoin" resultMap="creditGiveUp-credit-reresultmap">
	SELECT c.cgu_id, c.cgu_year, c.cgu_semester, c.cgu_start_date, c.cgu_finish_date,
		   c.cgu_state, c.credit_id, m.major_name, u.users_id, u.users_name, su.subject_name
	FROM credit_give_up c, credit t, student s, users u, major m, subject su
	WHERE c.credit_id = t.credit_id
	AND t.stu_id = s.stu_id
	AND s.stu_id = u.users_id
	AND s.major_id = m.major_id
	AND t.subject_id = su.subject_id
	AND c.cgu_state = '대기'
</select>

</mapper>