<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.graduationCreditMapper">

<resultMap type="graduationCredit" id="graduationCredit-basic-resultmap">
		<id column="major_id" property="majorId"/>
		<id column="graduation_credit_year" property="graduationCreditYear"/>
		<result column="grad_vital_edu_credit" property="gradVitalEduCredit"/>
		<result column="grad_select_edu_credit" property="gradSelectEduCredit"/>
		<result column="grad_vital_major_credit" property="gradVitalMajorCredit"/>
		<result column="grad_select_major_credit" property="gradSelectMajorCredit"/>
		
</resultMap>

<resultMap type="graduationCredit" id="graduationCreditJoinMajorName-basic-resultmap">
		<id column="major_id" property="majorId"/>
		<id column="graduation_credit_year" property="graduationCreditYear"/>
		<result column="grad_vital_edu_credit" property="gradVitalEduCredit"/>
		<result column="grad_select_edu_credit" property="gradSelectEduCredit"/>
		<result column="grad_vital_major_credit" property="gradVitalMajorCredit"/>
		<result column="grad_select_major_credit" property="gradSelectMajorCredit"/>
		<result column="major_name" property="majorName"/>
</resultMap>

<sql id="select-graduationCredit">
	SELECT		major_id,
				graduation_credit_year,
				grad_vital_edu_credit,
				grad_select_edu_credit,
				grad_vital_major_credit,
				grad_select_major_credit
	FROM 		graduation_credit					
</sql>

<!-- insert -->
<insert id="insertGraduationCredit" parameterType="graduationCredit">
	INSERT INTO graduation_credit VALUES(#{majorId}, #{graduationCreditYear}, 
									#{gradVitalEduCredit},#{gradSelectEduCredit},
									#{gradVitalMajorCredit},#{gradSelectMajorCredit})
</insert>

<!-- update -->
<update id="updateGraduationCreditById" parameterType="graduationCredit">
	UPDATE	graduation_credit
	SET		grad_vital_edu_credit=#{gradVitalEduCredit},
			grad_select_edu_credit=#{gradSelectEduCredit},
			grad_vital_major_credit=#{gradVitalMajorCredit},
			grad_select_major_credit=#{gradSelectMajorCredit}
	WHERE	major_id=#{majorId}
	AND 	graduation_credit_year=#{graduationCreditYear}
</update>

<!-- delete -->
<delete id="deleteGraduationCredit" parameterType="map">
	DELETE FROM graduation_credit 
	WHERE major_id=#{majorId} 
	AND graduation_credit_year=#{graduationCreditYear}
</delete>

<!-- select -->
<select id="selectGraduationCreditList" resultMap="graduationCredit-basic-resultmap">
	<include refid="select-graduationCredit"/>
</select>

<select id="selectGraduationCreditById" resultMap="graduationCredit-basic-resultmap" parameterType="map">
	<include refid="select-graduationCredit"/>
	WHERE major_id=#{majorId}
	AND graduation_credit_year=#{graduationCreditYear}
</select>

<select id="selectGraduationCreditByMajorId" resultMap="graduationCreditJoinMajorName-basic-resultmap" parameterType="int">
	SELECT 	m.major_name, 
			g.major_id, 
			g.graduation_credit_year, 
			g.grad_vital_edu_credit,
			g.grad_select_edu_credit,
			g.grad_vital_major_credit,
			g.grad_select_major_credit
	FROM major m, graduation_credit g
	WHERE m.major_id = g.major_id 
	AND g.major_id = #{majorId}
</select>

<!-- 병문 Mapper -->
<select id="selectGraduationCreditByMajorIdAndUsersId" resultMap="graduationCreditJoinMajorName-basic-resultmap" parameterType="map">
	SELECT		g.major_id,
				g.graduation_credit_year,
				g.grad_vital_edu_credit,
				g.grad_select_edu_credit,
				g.grad_vital_major_credit,
				g.grad_select_major_credit
	FROM 		graduation_credit g, users u, major m, student s
	WHERE 		u.users_id = #{usersId}
	AND			u.users_id = s.stu_id
	AND			s.major_id = m.major_id
	AND			m.major_id = g.major_id
	AND			g.major_id = #{majorId}
	AND 		g.graduation_credit_year like #{year}
</select>
<!-- End BM -->

</mapper>