<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.guidanceStudentMapper">

<resultMap type="guidanceStudent" id="guidanceStudent-basic-resultmap">
		<id column="guidance_student_id" property="guidanceStudentId"/>
		<result column="consultant_content" property="consultantContent"/>
		<result column="consultant_date" property="consultantDate"/>
		<result column="stu_id" property="stuId"/>
		<result column="pro_id" property="proId"/>
</resultMap>


<resultMap type="guidanceStudent" id="guidanceStudent-join-resultmap" extends="guidanceStudent-basic-resultmap">		
	<collection ofType="com.mugs.vo.Student" property="studentList" resultMap="com.mugs.config.mapper.studentMapper.student-user-resultmap"/>		
</resultMap>

<sql id="select-guidanceStudent">
	SELECT		guidance_student_id,
				consultant_content,
				consultant_date,
				stu_id,
				pro_id
	FROM 		guidance_student					
</sql>

<!-- insert -->
<insert id="insertguidanceStudent" parameterType="guidanceStudent">
	<selectKey resultType="int" keyProperty="guidanceStudentId" order="BEFORE">
		SELECT guidance_STUDENT_ID_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO major VALUES(#{guidanceStudentId}, #{consultantContent}, #{consultantDate}, #{stuId}, #{proId})
</insert>

<!-- update -->
<update id="updateguidanceStudentById" parameterType="guidanceStudent">
	UPDATE	guidance_student
	SET		consultant_content=#{consultantContent},
			consultant_date=#{consultantDate},
			stu_id=#{stuId},
			pro_id=#{proId}
	WHERE	guidance_student_id=#{guidanceStudentId}
</update>

<!-- delete -->
<delete id="deleteguidanceStudent" parameterType="int">
	DELETE FROM guidance_student WHERE guidance_student_id=#{value}
</delete>

<!-- select -->
<select id="selectguidanceStudentList" resultMap="guidanceStudent-basic-resultmap">
	<include refid="select-guidanceStudent"/>
</select>

<select id="selectguidanceStudentById" resultMap="guidanceStudent-basic-resultmap" parameterType="int">
	<include refid="select-guidanceStudent"/>
	WHERE guidance_student_id=#{value}
</select>

<select id="selectguidanceStudentListByJoin" resultMap="guidanceStudent-join-resultmap">
	SELECT g.guidance_student_id,                   
		   g.consultant_content,
		   g.consultant_date,
		   g.stu_id,
		   g.pro_id,
		   s.stu_id,
		   s.stu_course,
		   s.stu_army,
		   s.stu_admission_date,
		   s.stu_graduation_date,
		   s.stu_register_state,
		   s.stu_student_state,
		   s.stu_grade,
		   s.stu_graduation_exam,
		   s.stu_early_graduation,
		   s.stu_semester,
		   s.major_id,
		   s.major_dual_id,
		   s.major_minor_id,
		   u.users_id,
		   u.users_password,
		   u.users_name,
		   u.users_eng_name,
		   u.users_rrn,
		   u.users_email,
		   u.users_phone_num,
		   u.users_cell_num,
		   u.users_national,
		   u.users_current_addr,
		   u.users_born_addr,
		   u.users_enable,
		   u.users_photo 
		   
	FROM guidance_student g, student s, users u
	WHERE g.stu_id=s.stu_id(+)
	AND s.stu_id=u.users_id
	AND g.pro_id=#{value}
</select>
 
</mapper>