<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.leaveReturnApplicationMapper">

<sql id="select-leaveReturnApplication">
	SELECT LRAPPLICATION_ID,
		   LRAPPLICATION_TYPE,
		   LRAPPLICATION_START_DATE,
		   LRAPPLICATION_FINISH_DATE,
		   LRAPPLICATION_STATE,
		   STU_ID
	FROM   LEAVERETURNAPPLICATION
</sql>

<resultMap type="leaveReturnApplication" id="leaveReturnApplication-basic-reresultmap">
	<id column="LRAPPLICATION_ID" property="LRApplicationId"/>
	<result column="LRAPPLICATION_TYPE" property="LRApplicationType"/>
	<result column="LRAPPLICATION_START_DATE" property="LRApplicationStartDate"/>
	<result column="LRAPPLICATION_FINISH_DATE" property="LRApplicationFinishDate"/>
	<result column="LRAPPLICATION_STATE" property="LRApplicationState"/>
	<result column="STU_ID" property="stuId"/>
</resultMap>

<resultMap type="leaveReturnApplication" id="leaveReturnApplication-student-reresultmap" extends="leaveReturnApplication-basic-reresultmap">
	<id column="users_id" property="usersId"/>
	<result column="users_name" property="usersName"/>
	<result column="major_name" property="majorName"/>
</resultMap>

<!-- insert -->
<insert id="insertLeaveReturnApplication" parameterType="leaveReturnApplication">
	<selectKey resultType="int" keyProperty="LRApplicationId" order="BEFORE">
		SELECT LRAPPLICATION_ID_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO LEAVERETURNAPPLICATION VALUES(#{LRApplicationId}, #{LRApplicationType}, #{LRApplicationStartDate}, #{LRApplicationFinishDate}, #{LRApplicationState}, #{stuId})
</insert>

<!-- update -->
<update id="updateLeaveReturnApplicationById" parameterType="leaveReturnApplication">
	UPDATE LEAVERETURNAPPLICATION
	   SET LRAPPLICATION_TYPE=#{LRApplicationType},
	   	   LRAPPLICATION_START_DATE=#{LRApplicationStartDate},
	   	   LRAPPLICATION_FINISH_DATE= (SELECT TRUNC(SYSDATE) FROM DUAL),
	   	   LRAPPLICATION_STATE=#{LRApplicationState},
	   	   STU_ID=#{stuId}
	 WHERE LRAPPLICATION_ID=#{LRApplicationId}  	   
</update>

<!-- delete -->
<delete id="deleteLeaveReturnApplication" parameterType="int">
	DELETE FROM LEAVERETURNAPPLICATION WHERE LRAPPLICATION_ID=#{value}
</delete>

<!-- select -->
<select id="selectLeaveReturnApplicationList" resultMap="leaveReturnApplication-basic-reresultmap">
	<include refid="select-leaveReturnApplication"/>
</select>

<select id="selectLeaveReturnApplicationById" resultMap="leaveReturnApplication-basic-reresultmap" parameterType="int">
	<include refid="select-leaveReturnApplication"/>
	WHERE LRAPPLICATION_ID=#{value}
</select>
 
 
 
 <!-- 
      By Baek.J.H
	   현재 로그인된 학생ID를 이용해서 휴복학 내역을 select 한다. 
  -->
<select id="selectLeaveReturnApplicationListByStuId" resultMap="leaveReturnApplication-basic-reresultmap" parameterType="string">
	<include refid="select-leaveReturnApplication"/>
	where STU_ID=#{value}
</select>

<select id="selectLeaveReturnApplicationJoin" resultMap="leaveReturnApplication-student-reresultmap">
	SELECT l.LRAPPLICATION_ID, l.LRAPPLICATION_TYPE, l.LRAPPLICATION_START_DATE,
		   l.LRAPPLICATION_STATE, u.users_name, u.users_id, m.major_name
	FROM leavereturnapplication l, users u, student s, major m
	WHERE l.stu_id = s.stu_id
	AND s.stu_id = u.users_id
	AND s.major_id = m.major_id
	AND l.LRAPPLICATION_STATE = '대기'
	ORDER BY l.LRAPPLICATION_START_DATE
</select>

<!-- 
	By Baek.J.H
	현재 로그인된 학생ID, 휴복학 신청기간의 시작일자, 종료일자를 매개변수로 해당학생의 기간동안의
	휴복학 내역을 select한다.
 -->
 <select id="selectLeaveReturnApplicationListByDate" resultMap="leaveReturnApplication-basic-reresultmap" parameterType="map">
 	<include refid="select-leaveReturnApplication"/>
 	<![CDATA[
 		where LRAPPLICATION_START_DATE >= #{startDate}
 		AND LRAPPLICATION_START_DATE <= #{finishDate}
 		AND STU_ID=#{stuId}
 	]]> 
 </select>

</mapper>