<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.professorMapper">

	<resultMap id="professor-resultmap" type="professor">
		<id column="pro_id" property="proId" />
		<result column="pro_university" property="proUniversity" />
		<result column="pro_grad_school" property="proGradSchool" />
		<result column="pro_office_phone_num" property="proOfficePhoneNum" />
		<result column="pro_laboratory_phone_num" property="proLaboratoryPhoneNum" />
		<result column="major_id" property="majorId" />
		<result column="office_id" property="proRoomOfficeId" />
		<result column="laboratory_id" property="proRoomLaboratoryId" />
	</resultMap>

	
	<resultMap id="professor-user-resultmap" type="professor">
      <id column="pro_id" property="proId" />

      <result column="pro_university" property="proUniversity" />
      <result column="pro_grad_school" property="proGradSchool" />
      <result column="pro_office_phone_num" property="proOfficePhoneNum" />
      <result column="pro_laboratory_phone_num" property="proLaboratoryPhoneNum" />
      <result column="major_id" property="majorId" />
      <result column="major_name" property="majorName" />
      <result column="office_id" property="proRoomOfficeId" />
      <result column="room_name" property="officeName" />
      <result column="building_name" property="buildingName" />
      <result column="laboratory_id" property="proRoomLaboratoryId" />
      <result column="room_name" property="laboratoryName" />

      <result column="users_id" property="usersId" />
      <result column="users_password" property="usersPassword" />
      <result column="users_name" property="usersName" />
      <result column="users_eng_name" property="usersEngName" />
      <result column="users_rrn" property="usersRRN" />
      <result column="users_email" property="usersEmail" />
      <result column="users_phone_num" property="usersPhoneNum" />
      <result column="users_cell_num" property="usersCellNum" />
      <result column="users_national" property="usersNational" />
      <result column="users_current_addr" property="usersCurrentAddr" />
      <result column="users_born_addr" property="usersBornAddr" />
      <result column="users_enable" property="usersEnable" />
      <result column="users_photo" property="usersPhoto" />
   </resultMap>
	
	<sql id="select-professor">
	SELECT pro_id, pro_university, pro_grad_school, pro_office_phone_num, pro_laboratory_phone_num, major_id,office_id,laboratory_id  
	FROM professor			
	</sql>
	
	<select id="selectProfessorList" resultMap="professor-resultmap">
		<include refid="select-professor"/>
	</select>

	<select id="selectProfessorById" resultMap="professor-resultmap"
		parameterType="string">
		<include refid="select-professor"/>
		WHERE pro_id = #{value}
	</select>

	<insert id="insertProfessor" parameterType="professor">
		INSERT INTO professor
		VALUES(#{proId},#{proUniversity},#{proGradSchool},#{proOfficePhoneNum},#{proLaboratoryPhoneNum},#{majorId},
		#{proRoomOfficeId},#{proRoomLaboratoryId})
	</insert>

	<delete id="deleteProfessorById" parameterType="String">
		DELETE FROM users
		WHERE users_id = #{value}
	</delete>

	<update id="updateProfessor" parameterType="professor">
		UPDATE professor
		SET
		pro_university = #{proUniversity}, pro_grad_school = #{proGradSchool}, 
		pro_office_phone_num = #{proOfficePhoneNum}, major_id = #{majorId} ,office_id = #{proRoomOfficeId} ,laboratory_id = #{proRoomLaboratoryId}  
		WHERE pro_id = #{proId}
	</update>
	

	<select id="selectProfessorInfoByJoin" resultMap="professor-user-resultmap">
		SELECT p.pro_id,
		  	   p.pro_university,
		  	   p.pro_grad_school,
		  	   p.pro_office_phone_num,
		  	   p.pro_laboratory_phone_num,
		  	   p.major_id,
		  	   p.office_id,
		  	   p.laboratory_id,
		   	   u.users_id, 
		  	   u.users_password, 
		  	   u.users_name,
		   	   u.users_eng_name,
		   	   u.users_rrn,
		   	   u.users_email,
		   	   u.users_phone_num,
		  	   u.users_cell_num,
		  	   u.users_national,
		  	   u.users_current_addr,
		  	   u.users_born_addr,
		       u.users_enable,
	           u.users_photo
		FROM   professor p, users u
		WHERE  p.pro_id = u.users_id
		AND    p.pro_id = #{value}
	</select>
	
	<select id="selectProfessorInfoByName" resultMap="professor-user-resultmap">
		SELECT p.pro_id,
		  	   p.pro_university,
		  	   p.pro_grad_school,
		  	   p.pro_office_phone_num,
		   	   u.users_id, 
		  	   u.users_password, 
		  	   u.users_name,
		   	   u.users_eng_name,
		   	   u.users_rrn,
		   	   u.users_email,
		   	   u.users_phone_num,
		  	   u.users_cell_num,
		  	   u.users_national,
		  	   u.users_current_addr,
		  	   u.users_born_addr,
		       u.users_enable,
	           u.users_photo
		FROM   professor p, users u
		WHERE  p.pro_id = u.users_id
		AND    p.pro_id = #{value}
	</select>
	
	<select id="selectProfessorByName" resultMap="professor-user-resultmap" parameterType="String">
			SELECT p.pro_id,  	   
		  	   u.users_name, u.users_rrn, u.users_email
		FROM   professor p, users u
		WHERE  p.pro_id = u.users_id 
		AND    u.users_name Like '%'||#{value}||'%'
	</select>
	
	<select id="selectProfessorInfoById" resultMap="professor-user-resultmap" parameterType="String">
		SELECT p.pro_id,
		  	   p.pro_university,
		  	   p.pro_grad_school,
		  	   p.pro_office_phone_num,
		  	   p.pro_laboratory_phone_num,
		   	   u.users_id, 
		  	   u.users_password, 
		  	   u.users_name,
		   	   u.users_eng_name,
		   	   u.users_rrn,
		   	   u.users_email,
		   	   u.users_phone_num,
		  	   u.users_cell_num,
		  	   u.users_national,
		  	   u.users_current_addr,
		  	   u.users_born_addr,
		       u.users_enable,
	           u.users_photo
		FROM   professor p, users u
		WHERE  p.pro_id = u.users_id
		AND    p.pro_id = #{value}
	</select>
	
	<select id="selectProfessorInfoForMajorById" resultMap="professor-user-resultmap" parameterType="String">
		SELECT m.major_name, m.major_id
		FROM   professor p, major m
		WHERE  p.major_id = m.major_id
		AND    p.pro_id = #{value}
	</select>
	
	<select id="selectProfessorInfoForOfficeById" resultMap="professor-user-resultmap" parameterType="String">
		SELECT r.room_name, b.building_name, p.office_id, b.building_id
		FROM   professor p, room r, building b
		WHERE  p.office_id = r.room_id AND b.building_id = r.building_id
		AND    p.pro_id = #{value}
	</select>
	
	<select id="selectProfessorInfoForLaboratoryById" resultMap="professor-user-resultmap" parameterType="String">
		SELECT r.room_name, b.building_name, p.laboratory_id, b.building_id
		FROM   professor p, room r, building b
		WHERE  p.laboratory_id = r.room_id AND  b.building_id = r.building_id
		AND    p.pro_id = #{value}
	</select>
	
	<select id="selectProfessorOfficeForOverlap" resultMap="professor-user-resultmap">
		SELECT r.room_name, b.building_name, p.office_id
		FROM   professor p, room r, building b
		WHERE  p.office_id = r.room_id 
		AND b.building_id = r.building_id
		AND b.building_name = '교수연구동'
	</select>
	
	<select id="selectProfessorLabaratoryForoverlap" resultMap="professor-user-resultmap">
		SELECT r.room_name, b.building_name, p.laboratory_id
		FROM   professor p, room r, building b
		WHERE  p.laboratory_id = r.room_id 
		AND b.building_id = r.building_id
		AND b.building_name = '광교관'
	</select>
</mapper>