<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.subjectMapper">

	<sql id="select-subject">
		SELECT subject_id,
		subject_name,
		subject_time,
		subject_type,
		subject_credit,
		subject_capacity,
		subject_request,
		subject_grade,
		subject_class,
		subject_close_class,
		subject_semester,
		major_id,
		lecture_id
		FROM subject
	</sql>

	<resultMap type="subject" id="subject-basic-resultmap">
		<id column="SUBJECT_ID" property="subjectId" />
		<result column="SUBJECT_NAME" property="subjectName" />
		<result column="SUBJECT_TIME" property="subjectTime" />
		<result column="SUBJECT_TYPE" property="subjectType" />
		<result column="SUBJECT_CREDIT" property="subjectCredit" />
		<result column="SUBJECT_CAPACITY" property="subjectCapacity" />
		<result column="SUBJECT_REQUEST" property="subjectRequest" />
		<result column="SUBJECT_GRADE" property="subjectGrade" />
		<result column="SUBJECT_CLASS" property="subjectClass" />
		<result column="SUBJECT_CLOSE_CLASS" property="subjectCloseClass" />
		<result column="SUBJECT_SEMESTER" property="subjectSemester" />
		<result column="MAJOR_ID" property="majorId" />
		<result column="LECTURE_ID" property="lectureId" />
		<result column="cnt" property="remainNum" />
	</resultMap>
	
	<resultMap id="subject-college-resultmap" type="subject" extends="subject-basic-resultmap">
		<!--association 태그  : preperty - instance변수명, javaType - instance변수 타입-->
		<association property="college" javaType ="com.mugs.vo.College">
			<result column="college_id" property="collegeId"/>
			<result column="college_name" property="collegeName"/>
		</association>
	</resultMap>
	
	<resultMap id="subject-major-resultmap" type="subject" extends="subject-basic-resultmap">
		<!--association 태그  : preperty - instance변수명, javaType - instance변수 타입-->
		<association property="major" javaType ="com.mugs.vo.Major">
			<result column="major_id" property="majorId"/>
			<result column="major_name" property="majorName"/>
		</association>
	</resultMap>
	
	<resultMap id="subject-major-college-resultmap" type="subject" extends="subject-basic-resultmap">
		<!--association 태그  : preperty - instance변수명, javaType - instance변수 타입-->
		<association property="college" javaType ="com.mugs.vo.College">
			<result column="college_id" property="collegeId"/>
			<result column="college_name" property="collegeName"/>
		</association>
		<association property="major" javaType ="com.mugs.vo.Major">
			<result column="major_id" property="majorId"/>
			<result column="major_name" property="majorName"/>
		</association>
		<association property="room" javaType ="com.mugs.vo.Room">
			<result column="room_id" property="roomId"/>
			<result column="room_name" property="roomName"/>
		</association>
		<association property="building" javaType ="com.mugs.vo.Building">
			<result column="building_id" property="buildingId"/>
			<result column="building_name" property="buildingName"/>
		</association>
	</resultMap>
	
	<!-- 영현이꼬 -->
	<resultMap id="subject-professor-resultmap" type="subject" extends="subject-basic-resultmap">
		<association property="professor" resultMap="com.mugs.config.mapper.professorMapper.professor-resultmap"/>
	</resultMap>

	<!-- insert -->
	<insert id="insertSubject" parameterType="subject">
	<selectKey resultType="int" keyProperty="subjectId" order="BEFORE">
			SELECT subject_id_seq.nextval FROM dual
		</selectKey>
		INSERT INTO subject
		VALUES(#{subjectId}, #{subjectName}, #{subjectTime},
		#{subjectType},
		#{subjectCredit}, #{subjectCapacity}, #{subjectRequest},
		#{subjectGrade},
		#{subjectClass}, #{subjectCloseClass}, #{subjectSemester},
		#{majorId}, #{lectureId})
	</insert>

	<!-- update -->
	<update id="updateSubjectById" parameterType="subject">
		UPDATE subject
		SET
		subject_name = #{subjectName},
		subject_time = #{subjectTime},
		subject_type = #{subjectType},
		subject_credit = #{subjectCredit},
		subject_capacity = #{subjectCapacity}, 
		subject_request = #{subjectRequest},
		subject_grade = #{subjectGrade},
		subject_class = #{subjectClass},
		subject_close_class= #{subjectCloseClass},
		subject_semester = #{subjectSemester},
		major_id = #{majorId},
		lecture_id =  #{lectureId}
		WHERE subject_id=#{subjectId}
	</update>

	<!-- delete -->
	<delete id="deleteSubject" parameterType="int">
		DELETE FROM subject WHERE
		subject_id = #{value}
	</delete>

	<!-- select -->
	<select id="selectSubjectList" resultMap="subject-basic-resultmap">
		<include refid="select-subject" />
	</select>

	<select id="selectSubjectById" resultMap="subject-basic-resultmap" parameterType="int">
		<include refid="select-subject" />
		WHERE subject_id= #{value}
	</select>

	<!-- By Baek.J.H -->
	<select id="selectSubjectTypeList" resultType="string">
		SELECT distinct subject_type
		FROM subject
	</select>
	
	<select id="selectCollegeIdBySubjectType" resultMap="subject-college-resultmap" parameterType="String">
		SELECT distinct c.college_id, c.college_name
		FROM subject s, college c, major m
		WHERE s.major_id = m.major_id AND m.college_id = c.college_id AND s.subject_type = #{value}
	</select>
	
	<select id="selectMajorIdByCollegeId" resultMap="subject-major-resultmap" parameterType="map">
		SELECT distinct s.major_id, m.major_name
		FROM subject s, major m, college c
		WHERE s.major_id = m.major_id AND m.college_id = c.college_id AND c.college_id = #{collegeId} AND s.subject_type = #{subjectType}
	</select>
	
	<select id="selectSubjectByMajorId" resultMap="subject-basic-resultmap" parameterType="map">
		SELECT distinct s.subject_name, s.subject_id
		FROM subject s, major m, college c
		WHERE s.major_id = m.major_id AND m.college_id = c.college_id AND m.major_id= #{majorId} AND c.college_id = #{collegeId} AND s.subject_type = #{subjectType}
	</select>
	
	<select id="selectSubjectInfoBySubjectName" resultMap="subject-major-college-resultmap" parameterType="int">
		SELECT s.subject_id, s.subject_name, s.subject_time, s.subject_type, s.subject_credit, s.subject_capacity,
		s.subject_request, s.subject_grade, s.subject_class, s.subject_close_class, s.subject_semester, s.major_id, s.lecture_id,
		c.college_name, m.major_name, r.room_name, b.building_name
		FROM subject s, major m, college c, room r, building b
		WHERE s.major_id = m.major_id AND m.college_id = c.college_id AND s.lecture_id = r.room_id(+) AND r.building_id = b.building_id(+) AND s.subject_id = #{value}
	</select>
	
	<select id="selectSubjectForInsert" resultMap="subject-major-college-resultmap">
		SELECT s.subject_id, s.subject_name, s.subject_time, s.subject_type, s.subject_credit, s.subject_capacity,
		s.subject_request, s.subject_grade, s.subject_class, s.subject_close_class, s.subject_semester, s.major_id, s.lecture_id,
		c.college_name, m.major_name, r.room_name, b.building_name
		FROM subject s, major m, college c, room r, building b
		WHERE s.major_id = m.major_id AND m.college_id = c.college_id AND s.lecture_id = r.room_id AND r.building_id = b.building_id
	</select>
	
	<select id="selectSubjectInfoBySubjectIdForUpdate" resultMap="subject-major-college-resultmap" parameterType="int">
		SELECT s.subject_id, s.subject_name, s.subject_time, s.subject_type, s.subject_credit, s.subject_capacity,
		s.subject_request, s.subject_grade, s.subject_class, s.subject_close_class, s.subject_semester, s.major_id, s.lecture_id,
		c.college_id, m.major_id, r.room_name, b.building_name, r.room_id, b.building_id
		FROM subject s, major m, college c, room r, building b
		WHERE s.major_id = m.major_id AND m.college_id = c.college_id AND s.lecture_id = r.room_id(+) AND r.building_id = b.building_id(+) AND s.subject_id = #{value}
	</select>
	
	<select id="selectSubjectTimeBySubjectTypeMinor" resultMap="subject-college-resultmap" parameterType="String">
		SELECT distinct s.subject_time
		FROM subject s
		WHERE s.subject_type =  #{value}
	</select>
	
	<!-- 병문 Mapper -->
	<select id="selectSubjectTypeByMajorId" resultType="subject" parameterType="string">
		select distinct subject_type subjectType
		from subject
		WHERE major_id=#{majorId}
	</select>

	<!-- 해당 과목의 id, 이수구분별 과목 리스트 조회 -->
	<select id="selectSubjectBySubjectTypeAndMajorId" resultType="subject" parameterType="map">
		SELECT 	s.subject_id subjectId,
				s.subject_name subjectName,
				s.subject_time subjectTime,
				s.subject_type subjectType,
				s.subject_credit subjectCredit,
				s.subject_capacity subjectCapacity,
				s.subject_grade subjectGrade,
				s.subject_class subjectClass,
				s.subject_semester subjectSemester,
				s.lecture_id lectureId				
		FROM    subject s, major m, professor_subject ps
		<choose>
			<when test="majorId!=null">	
			WHERE   s.subject_type =#{subjectType}
			AND		s.major_id = #{majorId}
			AND		s.major_id = m.major_id(+)
			AND		s.subject_semester = #{semester}
			AND		ps.pro_subject_year = #{year}
			AND		s.subject_id = ps.subject_id(+)
			</when>
			<otherwise>
			WHERE   s.subject_type =#{subjectType}
			AND		s.major_id is null
			AND		s.major_id	= m.major_id(+)
			AND		s.subject_semester = #{semester}
			AND		ps.pro_subject_year = #{year}
			AND		s.subject_id = ps.subject_id(+)
			</otherwise>
		</choose>
	</select>
	
	<!-- 학기 전체조회 -->
	<select id="selectSemesterInfo" resultType="string">
		SELECT 	distinct subject_semester
		FROM 	subject
	</select>
	<!-- 학기와 학과id로 과목조회 -->
	<select id="selectSubjectListByMajorIdForAllTime" resultType="subject" parameterType="map">
		SELECT 	s.subject_id subjectId,
				s.subject_name subjectName,
				s.subject_time subjectTime,
				s.subject_type subjectType,
				s.subject_credit subjectCredit,
				s.subject_capacity subjectCapacity,
				s.subject_grade subjectGrade,
				s.subject_class subjectClass,
				s.subject_semester subjectSemester,
				s.lecture_id lectureId				
		FROM    subject s, major m, professor_subject ps		
		<choose>
			<when test="majorId!=null">
			WHERE	s.subject_semester = #{semester}
			AND 	s.major_id = #{majorId}
			AND		s.major_id= m.major_id(+)
			AND		ps.pro_subject_year= #{year}
			AND		s.subject_id = ps.subject_id(+)
			</when>
			<otherwise>
			WHERE	s.subject_semester = #{semester}
			AND		s.major_id is null
			AND		s.major_id= m.major_id(+)
			AND		ps.pro_subject_year=#{year}
			AND		s.subject_id = ps.subject_id(+)
			</otherwise>
		</choose>	
	</select>
	<!-- End BM -->
	
	<select id="selectSubjectInfoBySubjectTime" resultMap="subject-major-college-resultmap" parameterType="map">
		SELECT s.subject_id, s.subject_name, s.subject_time, s.subject_type, s.subject_credit, s.subject_capacity,
		s.subject_request, s.subject_grade, s.subject_class, s.subject_close_class, s.subject_semester, s.lecture_id,
		r.room_name, b.building_name
		FROM subject s, room r, building b
		WHERE s.lecture_id = r.room_id(+) AND r.building_id = b.building_id(+) AND s.subject_type = #{subjectType} AND s.subject_time = #{subjectTime}
	</select>
	
	<select id="selectSubjectInfoBySubjectIdForMinorUpdate" resultMap="subject-major-college-resultmap" parameterType="int">
		SELECT s.subject_id, s.subject_name, s.subject_time, s.subject_type, s.subject_credit, s.subject_capacity,
		s.subject_request, s.subject_grade, s.subject_class, s.subject_close_class, s.subject_semester, s.lecture_id,
		r.room_name, b.building_name, r.room_id, b.building_id
		FROM subject s, room r, building b
		WHERE s.lecture_id = r.room_id(+) AND r.building_id = b.building_id(+) AND s.subject_id = #{value}
	</select>

	
	<select id="selectForOverlap" resultMap="subject-college-resultmap" parameterType="map">
		SELECT s.subject_time, s.subject_semester, s.lecture_id, r.building_id
		FROM subject s, room r
		WHERE s.lecture_id = r.room_id(+) 
		AND s.subject_time = #{subjectTime} 
		AND s.subject_semester = #{subjectSemester} 
		AND r.building_id = #{buildingId}
	</select>
	
	<select id="selectSubjectType" resultType="string">
      select distinct subject_type
      from subject
   </select>

</mapper>