<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mugs.config.mapper.subjectPlanMapper">
	
	<sql id="select-subjectPlan">
		SELECT plan_id,
		plan_summary,
		plan_marking_method,
		plan_lesson_goal,
		plan_week_content,
		plan_bookinfo,
		plan_bibliography,
		plan_year,
		plan_semester,
		plan_note,
		pro_id,
		subject_id

		FROM subject_plan
	</sql>

	<resultMap type="subjectPlan" id="subjectPlan-basic-resultmap">
		<id column="plan_id" property="planId" />
		<result column="plan_summary" property="planSummary" />
		<result column="plan_marking_method" property="planMarkingMethod" />
		<result column="plan_lesson_goal" property="planLessonGoal" />
		<result column="plan_week_content" property="planWeekContent" />
		<result column="plan_bookinfo" property="planBookinfo" />
		<result column="plan_bibliography" property="planBibliography" />
		<result column="plan_year" property="planYear" />
		<result column="plan_semester" property="planSemester" />
		<result column="plan_note" property="planNote" />
		<result column="pro_id" property="proId" />
		<result column="subject_id" property="subjectId" />
	</resultMap>
	
	<resultMap type="subjectPlan" id="subjectPlan-subject-professor-users-resultmap" extends="subjectPlan-basic-resultmap">
		<association property="professor" resultMap="com.mugs.config.mapper.professorMapper.professor-user-resultmap"/>
		<association property="subject" resultMap="com.mugs.config.mapper.subjectMapper.subject-basic-resultmap"> </association>
	</resultMap>
	
	<!-- insert -->
	<insert id="insertSubjectPlan" parameterType="subject">
		<selectKey resultType="int" keyProperty="planId" order="BEFORE">
			SELECT plan_id_seq.nextval FROM dual
		</selectKey>
		INSERT INTO subject_plan
		VALUES(
		#{planId}, 
		#{planSummary}, 
		#{planMarkingMethod},
		#{planLessonGoal},
		#{planWeekContent}, 
		#{planBookinfo}, 
		#{planBibliography},
		#{planYear},
		#{planSemester}, 
		#{planNote}, 
		#{proId},
		#{subjectId}
		)
	</insert>

	<!-- update -->
	<update id="updateSubjectPlanById" parameterType="subjectPlan">
		UPDATE subject_plan
		SET
		plan_id = #{planId},
		plan_summary = #{planSummary},
		plan_marking_method = #{planMarkingMethod},
		plan_lesson_goal = #{planLessonGoal},
		plan_week_content = #{planWeekContent},
		plan_bookinfo = #{planBookinfo},
		plan_bibliography = #{planBibliography},
		plan_year = #{planYear},
		plan_semester = #{planSemester},
		plan_note= #{planNote},
		pro_id = #{proId},
		subject_id = #{subjectId}
		
		WHERE plan_id=#{planId}
	</update>

	<!-- delete -->
	<delete id="deleteSubjectPlan" parameterType="int">
		DELETE FROM subject_plan WHERE
		plan_id = #{value}
	</delete>

	<!-- select -->
	<select id="selectSubjectPlanList" resultMap="subjectPlan-basic-resultmap">
		<include refid="select-subjectPlan" />
	</select>

	<select id="selectSubjectPlanById" resultMap="subjectPlan-basic-resultmap" parameterType="int">
		<include refid="select-subjectPlan" />
		WHERE plan_id= #{value}
	</select>

	<!-- 영혀니꼬 -->
	
	<select id="selectSubjectPlanByFourId" resultMap="subjectPlan-subject-professor-users-resultmap" parameterType="map">
		SELECT 	   
			   sp.plan_id,	
			   sp.plan_summary,
			   sp.plan_marking_method,
			   sp.plan_lesson_goal,
			   sp.plan_week_content,
			   sp.plan_bookinfo,
			   sp.plan_bibliography,
			   sp.plan_year,
			   sp.plan_semester,
			   sp.plan_note,
			   sp.pro_id,
			   sp.subject_id,
			   s.subject_id,
			   s.subject_name,
			   s.subject_time,
			   s.subject_type,
			   s.subject_credit,
			   s.subject_capacity,
			   s.subject_request,
			   s.subject_grade,
			   s.subject_class,
			   s.subject_close_class,
			   s.subject_semester,
			   s.major_id,
			   s.lecture_id,	
			   p.pro_id,
		  	   p.pro_university,
		  	   p.pro_grad_school,
		  	   p.pro_office_phone_num,
		  	   p.pro_laboratory_phone_num,
		  	   p.major_id,
		  	   p.office_id,
		  	   p.laboratory_id,
		   	   u.users_id, 
		  	   u.users_password, 
		  	   u.users_name,
		   	   u.users_eng_name,
		   	   u.users_rrn,
		   	   u.users_email,
		   	   u.users_phone_num,
		  	   u.users_cell_num,
		  	   u.users_national,
		  	   u.users_current_addr,
		  	   u.users_born_addr,
		       u.users_enable,
	           u.users_photo
		FROM   professor p, users u, subject_plan sp,subject s
		WHERE  sp.pro_id= p.pro_id
		AND    p.pro_id= u.users_id
		AND    s.subject_id = sp.subject_id	 	
		AND	   sp.plan_year= #{planYear}
		AND    sp.plan_semester= #{planSemester}
		AND    sp.subject_id= #{subjectId}
		AND    sp.pro_id= #{proId}
		
	</select>

 </mapper>